<section id="info">
    <div class="container">
        <div class="info_wrapper">
            <a href="infopage.html" class="info_block">
                <div class="icon">
                    <img src="../assets/1.svg" alt="">
                </div>
                <div class="text">
                    <p>
                        Kardiologiya
                    </p>
                </div>
            </a>

            <a href="infopage.html" class="info_block">
                <div class="icon">
                    <img src="../assets/2.svg" alt="">
                </div>
                <div class="text">
                    <p>
                        Urologiya
                    </p>
                </div>
            </a>

            <a href="infopage.html" class="info_block">
                <div class="icon">
                    <img src="../assets/3.svg" alt="">
                </div>
                <div class="text bold_text">

                    <p>
                        COVID 19
                    </p>
                    <p>

                        qoruyucu vasitələr
                    </p>
                </div>
            </a>

            <a href="infopage.html" class="info_block">
                <div class="icon">
                    <img src="../assets/4.svg" alt="">
                </div>
                <div class="text bold_text">
                    <p>
                        Gigiyena vasitələri
                    </p>
                </div>
            </a>
        </div>

    </div>
</section>