<div class="tab_content" id="tab_4">
    <div class="container">
        <div class="text_block_wrapper">
            <div class="text_block">
                <div class="num">
                    <p>1</p>
                </div>
                <div class="text">
                    <p>Text</p>
                </div>
            </div>
            <div class="text_block">
                <div class="num">
                    <p>1</p>
                </div>
                <div class="text">
                    <p>Text</p>
                </div>
            </div>
            <div class="text_block">
                <div class="num">
                    <p>1</p>
                </div>
                <div class="text">
                    <p>Text</p>
                </div>
            </div>
            <div class="text_block">
                <div class="num">
                    <p>1</p>
                </div>
                <div class="text">
                    <p>Text</p>
                </div>
            </div>
            <div class="text_block">
                <div class="num">
                    <p>1</p>
                </div>
                <div class="text">
                    <p>Text</p>
                </div>
            </div>
            
        </div>
    </div>


    <section class="download">
        <div class="container">
            <a href="" class="dowload_btn">
                <div class="downdload_icon">
                    <img src="../assets/download.svg" alt="">
                </div>

                <p class="download_title">
                    .pdf yüklə
                </p>
            </a>
        </div>
    </section>
</div>