<footer id="footer">
  <div class="container">
    <div class="footer_block">
      <div class="white_logo">
        <img src="../assets/logo_white.svg" alt="">
      </div>
      <p>Bütün hüquqlar qorunur © 2020</p>
    </div>
  </div>

</footer>